@import "normalize.css";

@font-face {
    font-family: SourceSansPro;
    src: url("./fonts/source-sans-pro/SourceSansPro-Regular.otf");
}

@font-face {
    font-family: SourceSansPro-Bold;
    src: url("./fonts/source-sans-pro/SourceSansPro-Bold.otf");
}

:root {
    --light-text-color: white;
    --dark-text-color: #071629;
    --accent-red-color: #FF6565;
    --font-family-base: 'SourceSansPro';
    --font-family-bold: 'SourceSansPro-Bold';
    --font-weight-base: 400;
    --font-size-base: 16px;
    --line-height-base: 26px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-base);
    font-weight: var(--font-weight-base);
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-bold);
}

.button {
    display: inline-block;
    cursor: pointer;
    background-color: var(--accent-red-color);
    color: var(--light-text-color);
    font-family: var(--font-family-bold);
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: calc(22px - 13px) 0;
    margin-top: 40px;
    margin-bottom: 65px;
    width: 162px;
    border-radius: 25px;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.5));
}

.button:hover, .button:active {
    color: var(--light-text-color);
    opacity: 0.9;
}

a {
    color: var(--light-text-color);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--accent-red-color);
}

.page-top {
    background-image: url("./images/headphones_hero_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
}

.nav-bar li {
    margin-left: 30px;
}

.logo img {
    height: 32px;
}

.hero {
    text-align: center;
    width: 40em;
    padding-top: 312px;
    padding-bottom: 115px;
    margin-left: calc(50% - 20em);
    color: var(--light-text-color);
}

.hero h1, p {
    margin: 0;
}

.hero .strong {
    margin: 5px 0 0 0;
    font-family: var(--font-family-bold);
    font-weight: 700;
}
